[submodule "cybreach_pod_gamma"]
	path = cybreach_pod_gamma
	url = https://github.com/Ayush-Sonwane/cybreach_pod_gamma
[submodule "cybreach_pod_delta"]
	path = cybreach_pod_delta
	url = https://github.com/CyBreach-Validator/verdict-platform.git
[submodule "cybreach_pod_beta"]
	path = cybreach_pod_beta
	url = https://github.com/gadugulalakshmi/cybreach-module2-pod-beta
[submodule "cybreach_pod_alpha"]
	path = cybreach_pod_alpha
	url = https://github.com/alvinalobo/VALIDATOR.git
